* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

h1, h2 {
  margin: 0;
  font-size: 1.4em;
}

.max-width-wrapper {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

header {
  border-bottom: 6px solid hsl(0deg, 0%, 40%);
}

.intro-chunk {
  max-width: 300px;
  padding: 42px 24px;
}

.intro-chunk h1 {
  padding: 24px 0;
}

.intro-chunk p strong {
  color: hsl(160deg, 100%, 30%);
}

main {
  background-color: hsl(0deg, 0%, 60%);
  padding: 32px 0;
}

.card {
  background-color: white;
  padding: 8px 24px 24px;
  border-bottom: 6px solid hsl(0deg, 0%, 40%);
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  margin-left: -32px;
  padding: 24px 24px 24px 32px;
  width: fit-content;
  border-bottom: 6px solid hsl(45deg, 100%, 40%)
}