* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
header {
  padding-top: 32px;
  padding-bottom: 16px;
  border-bottom: 4px solid gray;
}

header .max-width-wrapper {
  max-width: 300px;
}

header strong {
  color: deeppink;
}

.intro-chunk {
  padding: 0 16px;
}

main {
  background-color: lightgray;
  padding-top: 30px;
  padding-bottom: 30px;
}

main .max-width-wrapper {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  background-color: white;
  padding: 1px 16px 16px 16px;
  border-bottom: 4px solid gray;
}

.card h2 {
  width: fit-content;
  background-color: greenyellow;
  padding: 16px 32px;
  border-bottom: 4px solid gray;
  border-top: 0 solid gray;
  margin-left: -32px;

}